.thongtintong {
    display: flex;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 35vw;
    padding: 0 30px 0 30px;
    background: black;
}

.thongtin {
    width: auto;
    height: auto;
    padding: 10px;
    font-size: 1vw;
}

    .thongtin p {
        margin-left: 50px;
        text-align: left;
        font-size: 2vw;
        color: #e3bd5d;
    }

.list-tt {
    text-align: left;
    list-style: none;
}

    .list-tt li {
        margin: 10px;
    }

    .list-tt a {
        text-decoration: none;
        color: white;
    }

        .list-tt a:hover {
            color: #b4dcf3;
        }
